html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: blanchedalmond;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 10px;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

nav li {
    display: inline-block;
    margin: 0 30px;
}

nav {
    float: right;
}

main {
    padding: 10px;
    position: relative;
    top: 250px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: whitesmoke;
    padding: 10px;
}