html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

header {
    background-color: rgb(238, 238, 238);
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 10px 50px;
    z-index: 1;
    border-bottom: 2px solid grey;
}

h1 {
    font-family: 'Beth Ellen', cursive;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

nav {
    float: right;
    display: block;
    margin-right: 50px;
}

nav li {
    display: inline-block;
    margin: 0 30px;
}

main {
    padding: 50px 250px;
    position: relative;
    top: 300px;
}

.colourContainer {
    display: inline-block;
}

.colour1 {
    display: block;
    background-color: rgba(34, 34, 59, 1);
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
}

.strengthContainer {
    margin: 25px;
}

.colourswatch {
    height: 100px;
    width: 150px;
}

.colour1-100 {
    background-color: rgba(34, 34, 59, 1);
}

.colour1-80 {
    background-color: rgba(34, 34, 59, 0.8);
}

.colour1-60 {
    background-color: rgba(34, 34, 59, 0.6);
}

.colour1-40 {
    background-color: rgba(34, 34, 59, 0.4);
}

.colour1-20 {
    background-color: rgba(34, 34, 59, 0.2);
}


.colour2 {
    display: block;
    background-color: rgba(74, 78, 105, 1);
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
}

.colour2-100 {
    background-color: rgba(74, 78, 105, 1);
}

.colour2-80 {
    background-color: rgba(74, 78, 105, 0.8);
}

.colour2-60 {
    background-color: rgba(74, 78, 105, 0.6);
}

.colour2-40 {
    background-color: rgba(74, 78, 105, 0.4);
}

.colour2-20 {
    background-color: rgba(74, 78, 105, 0.2);
}

.colour3 {
    display: block;
    background-color: rgba(154, 140, 152, 1);
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
}

.colour3-100 {
    background-color: rgba(154, 140, 152, 1);
}

.colour3-80 {
    background-color: rgba(154, 140, 152, 0.8);
}

.colour3-60 {
    background-color: rgba(154, 140, 152, 0.6);
}

.colour3-40 {
    background-color: rgba(154, 140, 152, 0.4);
}

.colour3-20 {
    background-color: rgba(154, 140, 152, 0.2);
}

.colour4 {
    display: block;
    background-color: rgba(201, 173, 167, 1);
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
}

.colour4-100 {
    background-color: rgba(201, 173, 167, 1);
}

.colour4-80 {
    background-color: rgba(201, 173, 167, 0.8);
}

.colour4-60 {
    background-color: rgba(201, 173, 167, 0.6);
}

.colour4-40 {
    background-color: rgba(201, 173, 167, 0.4);
}

.colour4-20 {
    background-color: rgba(201, 173, 167, 0.2);
}

.colour5 {
    display: block;
    background-color: rgba(242, 233, 228, 1);
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
}

.colour5-100 {
    background-color: rgba(242, 233, 228, 1);
}

.colour5-80 {
    background-color: rgba(242, 233, 228, 0.8);
}

.colour5-60 {
    background-color: rgba(242, 233, 228, 0.6);
}

.colour5-40 {
    background-color: rgba(242, 233, 228, 0.4);
}

.colour5-20 {
    background-color: rgba(242, 233, 228, 0.2);
}

.colourDetails {
    border-bottom: 2px solid grey;
    width: 200px;
}

.fontcontainer {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    display: inline-block;
    padding: 5px;
}

.italic {
    font-style: italic;
}

.font2 {
    font-family: 'Roboto', sans-serif;
}

.font3 {
    font-family: 'Beth Ellen', 'cursive';
}

.neumopanel {
    padding: 30px;
    border-radius: 57px;
    background: #eeeeee;
    box-shadow:  -27px 27px 54px #ababab,
             27px -27px 54px #ffffff;
}

#Typography {
    margin-top: 350px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: whitesmoke;
    padding: 10px;
}